.btn {
	// border-radius: 0;
	outline: 0 none !important;
	border: 0 none;
	transition: all .25s ease;
	font-weight: 500;

	&:hover,
	&:focus {
		outline: 0 none !important;
		box-shadow: none !important;
	}

	&:active {
		box-shadow: none !important;
	}

	.icon-phone {
		margin-top: -3px;
	}
}

.btn-black {
	background-color: #000;
	color: #fff;
	border: 1px solid #000;

	&:hover,
	&:focus {
		background-color: #fff;
		color: #000;
		border: 1px solid #000;
	}
}

.btn-skyblue {
	background-color: $skyblue;
	color: #000;

	&:hover,
	&:focus {
		background-color: darken($skyblue, 20%);
		color: #000;
	}
}

.btn-ygreen {
	background-color: $ygreen;
	color: #000;

	&:hover,
	&:focus {
		background-color: darken($ygreen, 7%);
		color: #000;
	}
}

.btn-dgrey {
	background-color: $dgrey;
	color: #fff;

	&:hover,
	&:focus {
		background-color: darken($dgrey, 7%);
		color: #fff;
	}
}

.btn-tel {
	text-decoration: none;
	color: $dgrey;
	font-weight: 600;
	font-size: 110%;
	display: inline-block;
	margin-bottom: 10px;

	@media (min-width:768px) {
		padding: 10px 8px 0 0;
	}
}